<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
  

    <p>Contract balance so far {{  contract_balance}}</p>
    <p>Did I withdraw ?{{  did_i_withdraw}}</p>
    <p>Did I fund the contract ? {{  am_i_funded}}</p>
    <p>Total amount collected{{  total_amount_collected}}</p>
    <p>Number of participants{{  number_of_parti}}</p>

  </body>
</html>
