<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
  

    <p>{{  contract_balance}}</p>
    <p>{{  did_i_withdraw}}</p>
    <p>{{  am_i_funded}}</p>
    <p>{{  total_amount_collected}}</p>
    <p>{{  number_of_parti}}</p>

  </body>
</html>
