<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <!--{{> header}}
     {{> footer}} --> 

    <p> your contract balance is {{contract_balance}}</p>
    <p> did I withdraw the remaining amount after fund transfer ?  {{did_i_withdraw}}</p>
    <p> did I add to the fund  ?  {{am_i_funded}}</p>
    <p> did I withdraw the remaining amount after fund transfer ?  {{total_amount_collected}}</p>
    <p> Number of participants in the croud fund  {{number_of_parti}}</p>

   
  </body>
</html>